body {
  overflow-x: hidden;
}

h2 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

p {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  text-align: center;
}

.topic {
  font-family: 'Pacifico', cursive;
  margin: 20px;
  text-align: center;
}

.left {
  padding-left: 70px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.right {
  padding-right: 60px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.card-body {
  background-color: #f1f1f1;
}

@media screen and (max-device-width: 767px) {
  .left, .right {
    padding-left: 70px;
    padding-right: 70px;
  }
}
